body{
    background-color: rgb(27, 2, 99);
}

.title{
    font-size: 45px;

    /* [didn't work try with link]  font-family: 'Dancing Script', cursive; */
}



.section{
    color: rgb(225, 223, 232);
    text-align: center;


 }
 



