h2{
    text-align: center;
    color: midnightblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    /* change font */
     
}

img{
    display: black ;
    margin-right: auto;
    margin-left: auto;
    width: 5%;
    height: 5%;
   
}

h5{
    text-align: center;
    color: midnightblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
     /* change font */
}

div{
    background-color: mediumblue;
    <br>
    <br>
    <br>
    <br>
}


